$mainBackgrColor: #282b38;
$lightColor: #767c9645;
$buttonColor: #e58d35;
$font: "Figtree", serif;

body {
  background-color: $mainBackgrColor;
}

//*** section 1  адаптацию делаем сразу в своей секции

//*** section 2  адаптацию делаем сразу в своей секции

//*** section 3  адаптацию делаем сразу в своей секции

//*** section 4  адаптацию делаем сразу в своей секции

//*** section 5  адаптацию делаем сразу в своей секции

//*** section 6  адаптацию делаем сразу в своей секции
@import "../assets/scss/fonts";
@import "../assets/scss/footer";
